.advantages-list {
  counter-reset: advantages-number;
  position: relative;
  .reset-list();

  @media (min-width: @tablet-width) {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "a a a"
      "b b b"
      "c d e";
  }

  &::before {
    content: "";
    width: 320px;
    height: 37px;
    position: absolute;
    left: 0;
    top: -14px;
    background-image: url("../img/white-triangle.svg");
    background-size: 320px 37px;
    background-repeat: no-repeat;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.advantages-list__item {
  &--1 {
    @media (min-width: @tablet-width) {
      grid-area: a;
    }
  }

  &--2 {
    @media (min-width: @tablet-width) {
      grid-area: b;
    }
  }

  &--3 {
    @media (min-width: @tablet-width) {
      grid-area: c;
    }
  }

  &--4 {
    @media (min-width: @tablet-width) {
      grid-area: d;
    }
  }

  &--5 {
    @media (min-width: @tablet-width) {
      grid-area: e;
    }
  }
}
