.advantages-card {
  @media (min-width: @tablet-width) {
    display: flex;
  }

  @media (min-width: @desktop-width) {
    display: flex;
  }

  &--revers {
    @media (min-width: @tablet-width) {
      flex-direction: row-reverse;
    }
  }
}
