.copyright {
  width: 143px;
  max-width: 200px;

  @media (min-width: @desktop-width) {
    max-width: 400px;
  }
}

.copyright__link {
  text-decoration: none;
  color: @black;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &:hover {
    color: @main-blue;
  }

  &:active {
    color: @html-academy--down;
  }

  &:focus {
    outline: 2px solid @main-blue--hover;
  }
}

.copyright-title {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin-right: 13px;
}

.copyright__icon {
  width: 28px;
  height: 33px;
  margin-right: 6px;

  @media (min-width: @tablet-width) {
    margin-right: 0;
  }
}
