.hero {
  min-height: 389px;
  background-color: @main-blue;
  background-image: url("../img/banner-cover.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  position: relative;

  @media (min-width: @tablet-width) {
    min-height: 517px;
  }

  &::before {
    content: "";
    position: absolute;
    right: 50%;
    transform: scaleX(-1);
    bottom: 0;
    background-image: url("../img/hero-decor.svg");
    background-repeat: no-repeat;
    width: 600px;
    height: 57px;
  }

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    background-image: url("../img/hero-decor.svg");
    background-repeat: no-repeat;
    width: 600px;
    height: 57px;
  }
}

.hero__slogan {
  width: 282px;
  height: 214px;
  margin-top: 90px;

  @media (min-width: @tablet-width) {
    margin-top: 78px;
    width: 460px;
    height: 350px;
  }
}
