.hero {
  min-height: 389px;
  background-color: @main-blue;
  background-image: url("../img/banner-cover.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}

.hero__slogan {
  margin-top: 90px;
}
