.hero {
  min-height: 389px;
  background-color: @main-blue;
  background-image: url("../img/banner-cover.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: 50%;
    transform: scaleX(-1);
    bottom: 0;
    background-image: url("../img/hero-decor.svg");
    background-repeat: no-repeat;
    width: 600px;
    height: 57px;
  }

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    background-image: url("../img/hero-decor.svg");
    background-repeat: no-repeat;
    width: 600px;
    height: 57px;
  }
}

.hero__slogan {
  margin-top: 146px;
}
