.likes__button {
  display: block;
  width: 23px;
  height: 21px;
  margin-right: 14px;
  color: inherit;

  &:focus {
    outline: 2px solid @main-blue--hover;
  }

  @media (min-width: @tablet-width) {
    margin-right: 9px;
  }
}

.likes__icon {
  width: 23px;
  height: 21px;
  opacity: 0.3;

  @media (min-width: @desktop-width) {
    fill: @white;
    opacity: 1;
  }
}

.likes__button:hover .likes__icon {
  opacity: 0.6;
}

.likes__button:active .likes__icon {
  opacity: 0.2;
}

.likes__count {
  font-weight: 700;
  color: inherit;
  line-height: 14px;
  word-break: break-word;
}
