.likes__icon{
  @media (min-width: @desktop-width) {
    fill: @white;
    opacity: 1;
  }
}

.likes__button {
  display: block;
  width: 23px;
  height: 21px;
  border: none;
  padding: 0;
  background-color: transparent;
}

.likes__count {
  font-weight: 700;
  color: inherit;
}
