.main-footer {
  padding: 28px 0 23px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 36px 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 36px 120px;
  }
}

.main-footer__hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 33.5px;
}

.main-footer__social {
  margin-bottom: 40px;
}

.main-footer__copyright {
  display: flex;
  justify-content: center;
}
