.main-footer {
  padding-top: 28px;
  padding-bottom: 23px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 36px;
  }
}

.main-footer__hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin-block: 0;
  margin-bottom: 33.5px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.main-footer__social {
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.main-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}
