.main-container__title {
  display: block;
  .margin-reset(35px);

  @media (min-width: @tablet-width) {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}

.main-container__map {
  margin-bottom: 10px;
}
