.main-header {
  position: relative;
}

.main-header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: @tablet-width) {
    z-index: 2;
  }
}

.main-header__nav {
  position: relative;
}

.main-header__hero {
  display: flex;
  justify-content: center;
  padding: 90px 19px 85px;
  background-color: @main-blue;
  background-image: url("../img/banner-cover.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  margin-bottom: 32px;
}
