.map {
  background-image: url("../img/map-mobile@1x.jpg");
  background-color: @map-background;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 350px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/map-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/map-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }
}

.map iframe {
  border: none;
  display: block;
  width: 100%;
  height: 100%;

  &:focus {
    outline: 2px solid @main-blue--hover;
    outline-offset: -2px;
  }
}
