.recommendation-list {
  list-style-type: none;
  margin-block: 0;
  text-align: left;
  padding: 23px 18px 52px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    padding: 57px 0 59px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 80px;
  }
}

.recommendation-list__item {
  padding-left: 47px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 40px 40px;
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }

  &--house {
    background-image: url("../img/icon-house.svg");
  }

  &--eat {
    background-image: url("../img/icon-burger.svg");
  }

  &--souvenir {
    background-image: url("../img/icon-gift.svg");
  }

  @media (min-width: @tablet-width) {
    max-width: 193px;
    padding-left: 0;
    padding-top: 75px;
    background-position: center 0;
    background-size: 76px 75px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    max-width: 313px;
  }
}

.recommendation-list__title {
  padding-top: 7px;
  .margin-reset(16px);

  @media (min-width: @tablet-width) {
    padding-top: 26px;
    .margin-reset(23px);
  }
}

.recommendation-list__description {
  margin: 0;
}

.recommendation-list__description br {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline;
  }
}
