.search-hotel {
  padding: 38px 18px 49px;
}

.search-hotel__wrapper {
  @media (min-width: @tablet-width) {
    width: 435px;
    margin: 0 auto;
  }
}

.search-hotel__title {
  .margin-reset(20px);
}

.search-hotel__description {
  .margin-reset(32px);
}

.search-hotel__button {
  display: block;
  text-decoration: none;
}
