.social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.social__link {
  display: block;
  position: relative;
  width: 48px;
  height: 48px;
  background-color: @main-blue;
  margin-right: 6px;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center;

  &:hover {
    background-color: @main-blue--hover;
  }

  &:active,
  &:focus {
    background-color: @main-blue--down;
    color: @white--opacity30;
    outline: none;
  }

  &:last-child {
    margin-right: 0;
  }
}

.social__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social__link:active .social__icon {
  opacity: 0.3;
}
