// Colors

@main-blue: #81b3d2;
@main-blue--hover: #669ec0;
@main-blue--down: #5496bd;
@button--disabled: @input--hover;
@main-menu--down: rgba(0, 0, 0, 0.3);
@main-menu--current: #766357;
@input: #f2f2f2;
@input--hover: #e5e5e5;
@input--down: #d5d5d5;
@control-down: rgba(51, 51, 51, 0.3);
@paragraf: #333333;
@background-card: #eeeeee;
@black: #000000;
@white: #ffffff;
@white--opacity30: rgba(255, 255, 255, 0.3);
@html-academy--down: #b3b3b3;
@background-photo: #df9a7a;
@underline: #d6d6d6;
@map-background: #CBDFA2;

// Viewports

@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width: 320px;
